{% extends 'base.html' %}
{% load static %}
{% block title %}
    Interner Profile Page
{% endblock %}

{% block content_body %}
<!-- Edit Profile Section -->
<div class="row">
    <div class="col-sm-6">
        <div class="profilecard">
            <h5 class="card-title">
                <center>Profile Settings</center>
            </h5>
            <div>
                <center><img src="/static/photos/id-card.png" width="150" height="auto"/></center>
                <br></div>
            <div class="card-body">
                <div style="margin-left:110px" class=row>
                    <div class="col-md-8">
                        <center><input type="text" class="form-control" name="name" id="" value="Name" disabled><br>
                        </center>

                        <center><input type="text" class="form-control" name="surname" id="" value="Surname"
                                       disabled><br></center>
                        <center><input type="text" class="form-control" name="birth_date" value="Birth date"
                                       disabled><br></center>
                        <center><input type="text" class="form-control" name="email" value="E-mail" disabled><br>
                        </center>


                        <center><input type="text" class="form-control" name="email" value="Depertmant" disabled><br>

                    </div>
                    <div class="col-md-12">
                        <button style="margin-left:55px;" type="button" class="btn btn-dark" href="login.html"><span
                                class="glyphicon glyphicon-pencil"></span><a href="company-profile.html">Edit
                            Profile</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </center>
    <!-- Edit Profile Section -->


    <!-- Applied Offers -->
    <div class="col-sm-6">
        <div class="profilecard">
            <div class="card-body">
                <h5 class="card-title">
                    <center>Applied Intern Offers</center>
                </h5>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td scope="col"><i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td scope="col"><i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td scope="col"><i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td scope="col"><i class="fa fa-trash" aria-hidden="true"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- Applied Offers -->

        <!-- Users Comments -->
        <div class="row">
            <div class="col-sm-6">
                <div class="profilecard">

                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Comments</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Users Comments -->


            <!-- Upload Your Files -->
            <div class="col-sm-5">
                <div class="profilecard">
                    <div class="card-body">
                        <center><h5 class="card-title">Upload Your Files</h5></center>
                        <center><p class="card-text">Add cv </p></center>
                        <button style="margin-left:60px;" type="button" class="btn btn-dark" href="#"><span
                                class="glyphicon glyphicon-pencil"></span><a href="#">Upload CV</a></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Upload Your Files -->
    </div>
{% endblock content_body %}