{% extends 'base.html' %}
{% load static %}
    {% block title %}
        List Of Applicants
    {% endblock %}

{% block content_body %}
<div class="col-sm-6">

    <div class="applicantscard">
        <div class="card-body">
            <h5 class="card-title">
                <center>Company Job Posts</center>
            </h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Post Date</th>
                    <th scope="col">Location</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><a href="{% url 'internProfile' %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@mdo</td>
                    <td><a href="{% url 'internProfile' %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                    <td><a href="{% url 'internProfile' %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>

                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                    <td><a href="{% url 'internProfile' %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                    <td><a href="{% url 'internProfile' %} "><span class="glyphicon glyphicon-eye-open"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
  {% endblock content_body %}