{% extends 'base.html' %}
{% load static %}
{% block title %}
    Interner Register Page
{% endblock %}


{% block content_body %}

    <body class="form-v8">
    <div class="page-content">
        <div class="form-v8-content">
            <div class="form-left">
                <img src="/static/photos/register.jpg" alt="form" width="500" height="900">
            </div>
            <div class="form-right">
                <div class="tab">
                    <div class="tab-inner">
                        <button class="tablinks" onclick="openCity(event, 'sign-up')" id="defaultOpen">Intern</button>
                    </div>
                </div>
                <form class="form-detail" action="#" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}

                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <div class="form-row-last">
                        <center>
                            <button type="submit" class="register" style="padding: 15px">Register</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content_body %}